<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Bienvenido</title>
  <meta name="description" content="Portfolio" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/normalize.css" />
</head>

<body>
  <div id="header-container"></div>
  <section class="home-hero">
    <div class="home-hero__content">
      <h1 class="heading-primary">Hey, My name is John Doe</h1>
      <p class="text-primary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
        tempora explicabo quae quod deserunt eius sapiente solutions for
        complex problems.
      </p>
      <a href="./#projects" class="btn btn--bg">Projects</a>
    </div>

    <div class="home-hero__socials">
      <a href="#" class="home-hero__social-icon-link">
        <img src="./assets/png/linkedin-ico.png" alt="LinkedIn" class="home-hero__social-icon" />
      </a>
      <a href="#" class="home-hero__social-icon-link">
        <img src="./assets/png/github-ico.png" alt="GitHub" class="home-hero__social-icon" />
      </a>
      <a href="#" class="home-hero__social-icon-link">
        <img src="./assets/png/twitter-ico.png" alt="Twitter" class="home-hero__social-icon" />
      </a>
      <a href="#" class="home-hero__social-icon-link">
        <img src="./assets/png/yt-ico.png" alt="YouTube" class="home-hero__social-icon" />
      </a>
      <a href="#" class="home-hero__social-icon-link home-hero__social-icon-link--bd-none">
        <img src="./assets/png/insta-ico.png" alt="Instagram" class="home-hero__social-icon" />
      </a>
    </div>
  </section>

  <section id="about" class="about sec-pad">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main">About Me</span>
        <span class="heading-sec__sub">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
          tempora explicabo quae quod deserunt eius sapiente.
        </span>
      </h2>

      <div class="about__content">
        <div class="about__content-main">
          <h3 class="about__content-title">Get to know me!</h3>
          <p class="about__content-details-para">
            Hey! It's <strong>John Doe</strong> and I'm a
            <strong>Frontend Web Developer</strong> located in Los Angeles.
            I've done <strong>remote</strong> projects for agencies, consulted
            for startups, and collaborated with talented people to create
            <strong>digital products</strong> for both business and consumer use.
          </p>
          <p class="about__content-details-para">
            I'm a bit of a digital product junky. Over the years, I've used
            hundreds of web and mobile apps in different industries and verticals.
            Feel free to <strong>contact</strong> me here.
          </p>
          <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
        </div>

        <div class="about__content-skills">
          <h3 class="about__content-title">My Skills</h3>
          <div class="skills">
            <span class="skills__skill">HTML</span>
            <span class="skills__skill">CSS</span>
            <span class="skills__skill">JavaScript</span>
            <span class="skills__skill">React</span>
            <span class="skills__skill">SASS</span>
            <span class="skills__skill">GIT</span>
            <span class="skills__skill">Shopify</span>
            <span class="skills__skill">WordPress</span>
            <span class="skills__skill">Google ADS</span>
            <span class="skills__skill">Facebook Ads</span>
            <span class="skills__skill">Android</span>
            <span class="skills__skill">iOS</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="projects sec-pad">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-bg">
        <span class="heading-sec__main">Projects</span>
        <span class="heading-sec__sub">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
          tempora explicabo quae quod deserunt eius sapiente.
        </span>
      </h2>

      <div class="projects__content">
        <!-- Proyecto 1 -->
        <article class="projects__row">
          <img src="./assets/jpeg/project-mockup-example.jpeg" alt="Software Screenshot" class="projects__row-img"
            loading="lazy" />
          <div class="projects__row-content">
            <h3 class="projects__row-content-title">Project 1</h3>
            <p class="projects__row-content-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
              facilis tempora, explicabo quae quod deserunt eius sapiente
              praesentium.
            </p>
            <a href="./proyect.html" class="btn btn--med btn--theme dynamicBgClr" target="_blank">Case Study</a>
          </div>
        </article>

        <!-- Proyecto 2 -->
        <article class="projects__row">
          <img src="./assets/jpeg/project-mockup-example.jpeg" alt="Software Screenshot" class="projects__row-img"
            loading="lazy" />
          <div class="projects__row-content">
            <h3 class="projects__row-content-title">Project 2</h3>
            <p class="projects__row-content-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
              facilis tempora, explicabo quae quod deserunt eius sapiente
              praesentium.
            </p>
            <a href="./project-2.html" class="btn btn--med btn--theme dynamicBgClr" target="_blank">Case Study</a>
          </div>
        </article>

        <!-- Proyecto 3 -->
        <article class="projects__row">
          <img src="./assets/jpeg/project-mockup-example.jpeg" alt="Software Screenshot" class="projects__row-img"
            loading="lazy" />
          <div class="projects__row-content">
            <h3 class="projects__row-content-title">Project 3</h3>
            <p class="projects__row-content-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
              facilis tempora, explicabo quae quod deserunt eius sapiente
              praesentium.
            </p>
            <a href="./project-3.html" class="btn btn--med btn--theme dynamicBgClr" target="_blank">Case Study</a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main heading-sec__main--lt">Contact</span>
        <span class="heading-sec__sub heading-sec__sub--lt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
          tempora explicabo quae quod deserunt eius sapiente.
        </span>
      </h2>

      <div class="contact__form-container">
        <form action="#" class="contact__form">
          <label class="contact__form-label" for="name">Name</label>
          <input required placeholder="Enter Your Name" type="text" class="contact__form-input" name="name" id="name" />

          <label class="contact__form-label" for="email">Email</label>
          <input required placeholder="Enter Your Email" type="email" class="contact__form-input" name="email"
            id="email" />

          <label class="contact__form-label" for="message">Message</label>
          <textarea required class="contact__form-input" placeholder="Enter Your Message" name="message"
            id="message"></textarea>

          <button type="submit" class="btn btn--theme contact__btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
  <div id="footer-container"></div>
  <script src="/assets/js/loadComponents.js"></script>
</body>

</html>