<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
</head>

<body>
    <footer class="main-footer">
        <div class="main-container">
            <div class="main-footer__upper">
                <div class="main-footer__social">
                    <h2 class="heading heading-sm">Social</h2>
                    <div class="main-footer__social-icons">
                        <a href="#" target="_blank" rel="noreferrer">
                            <img src="./assets/png/linkedin-ico.png" alt="LinkedIn" class="main-footer__icon" />
                        </a>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img src="./assets/png/github-ico.png" alt="GitHub" class="main-footer__icon" />
                        </a>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img src="./assets/png/twitter-ico.png" alt="Twitter" class="main-footer__icon" />
                        </a>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img src="./assets/png/yt-ico.png" alt="YouTube" class="main-footer__icon" />
                        </a>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img src="./assets/png/insta-ico.png" alt="Instagram" class="main-footer__icon" />
                        </a>
                    </div>
                </div>
                <div class="main-footer__info">
                    <h4 class="heading heading-sm">John Doe</h4>
                    <p class="main-footer__desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit facilis
                        tempora explicabo quae quod deserunt.
                    </p>
                </div>
            </div>

            <div class="main-footer__lower">
                &copy; 2021. Made by
                <a href="https://rammaheshwari.com" target="_blank" rel="noreferrer">Ram Maheshwari</a>
            </div>
        </div>
    </footer>
</body>

</html>