<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
</head>

<body>
    <header class="header">
        <div class="header__content">
            <div class="header__logo-container">
                <div class="header__logo-img-cont">
                    <img src="./assets/png/john-doe.png" alt="John Doe Logo" class="header__logo-img" />
                </div>
                <span class="header__logo-sub">John Doe</span>
            </div>
            <nav class="header__main">
                <ul class="header__links">
                    <li><a href="./index.html" class="header__link">Home</a></li>
                    <li><a href="./index.html#about" class="header__link">About</a></li>
                    <li><a href="./index.html#projects" class="header__link">Projects</a></li>
                    <li><a href="./index.html#contact" class="header__link">Contact</a></li>
                </ul>
                <div class="header__main-ham-menu-cont">
                    <img src="./assets/svg/ham-menu.svg" alt="Open menu" class="header__main-ham-menu" />
                    <img src="./assets/svg/ham-menu-close.svg" alt="Close menu"
                        class="header__main-ham-menu-close d-none" />
                </div>
            </nav>
        </div>
        <nav class="header__sm-menu">
            <ul class="header__sm-menu-links">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./index.html#about">About</a></li>
                <li><a href="./index.html#projects">Projects</a></li>
                <li><a href="./index.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>