<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="./index.html#home">Inicio</a></li>
            <li><a href="./index.html#about">Sobre mi</a></li>
            <li><a href="./index.html#skills">Habilidades</a></li>
            <li><a href="./index.html#proyect">Proyectos</a></li>
            <li><a href="./index.html#contact">Contacto</a></li>
        </ul>
    </nav>
    <script src="/assets/js/script.js"></script>
</body>

</html>