/*Variables Globales*/
:root {
  --gray-color-light: #3c3c3c;
  --gray-color-dark: #1e1e1e;
  --gray-color-smooth: #252526;
  --color-background: #0c0c0c;
  --color-text: #d4d4d4;
  --color-yellow: #f7df1e;

  /*Effect values*/
  --effect-transition-button: 3s;

  /*Borde values*/
  --radius-border: 4px;
}
