@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url(root.css);

html {
  scroll-padding: 20px;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Secciones */
.section {
  background-color: yellowgreen;
  padding: 5rem;
}

/*Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 10px 20px;
  color: var(--color-white);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-white);
  padding: 8px 12px;
  transition: var(--effect-transition-button);
}

.nav-links a:hover {
  background-color: var(--color-black-hover);
  border-radius: var(--radius-border);
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--color-black);
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }
}

/* Contenedor Main Grid */
.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(150px, auto) minmax(150px, auto);
  /*gap: 10px;*/
  text-align: center;
}

/* Header */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://gas-kvas.com/grafic/uploads/posts/2024-01/thumbs/gas-kvas-com-p-oboi-mashini-ford-mustang-44.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Parallax effect */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content header */
.header-content {
  text-align: center;
  color: var(--color-white);
  padding: 20px;
}

/* Footer */
.footer {
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 14px;
    padding: 15px;
  }

  .section {
    padding: 10px;
  }
}
