<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="iconX" href="../../assets/" />
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar">
      <div class="logo" id="Home">
        <img src="/assets/images/icon/icon_portfolio.svg" alt="Logo" />
        <h2>Portafolio</h2>
      </div>
      <ul class="nav-links" id="nav-links">
        <li><a href="#About">Acerca</a></li>
        <li><a href="#Services">Habilidades</a></li>
        <li><a href="#Product">Proyectos</a></li>
        <li><a href="#Location">Contacto</a></li>
      </ul>
      <div class="menu-icon" id="menu-icon">☰</div>
    </nav>
    <!--Contenedor principal-->
    <main class="main">
        <!--Cabecera-->
        <header class="header">
            <div class="header-content">
                <h1>Bienvenido a nuestra página web</h1>
                <p>Esta es una página web de ejemplo.</p>
                <a href="#Product" class="button-add-icon">Ver productos
                    <img src="./public/images/icon/icon-arrow-forward.svg" alt="Icono">
                </a>
            </div>
        </header>

        <!--Section: About-->
        <section class="section section-1">
          <h2>Sección 1</h2>
          <p>Este es el contenido de la sección 1.</p>
        </section>

        <!--Section: Skills-->
        <section class="section section-2">
          <h2>Sección 2</h2>
          <p>Este es el contenido de la sección 2.</p>
        </section>

        <!--Section: Proyects-->
        <section class="section section-2">
            <h2>Sección 2</h2>
            <p>Este es el contenido de la sección 2.</p>
          </section>

          <!--Section: Contact-->
        <section class="section section-2">
            <h2>Sección 2</h2>
            <p>Este es el contenido de la sección 2.</p>
          </section>
      </main>

      <!-- Footer -->
      <footer class="footer">&copy; 2023 Todos los derechos reservados.</footer>
    </main>
  </body>
</html>
